In [1]:
import copy
import csv
import pandas as pd
import numpy as np
import scipy as scipy
from scipy.stats import pearsonr
import math
import matplotlib.pyplot as plt
from matplotlib_venn import venn3, venn3_circles, venn2, venn2_circles
import itertools
from copy import deepcopy
from collections import defaultdict
from datetime import datetime
pd.options.display.mpl_style = 'default'
%matplotlib inline
%pylab inline

ImportError: No module named matplotlib_venn

### create new df

In [5]:
example_df = pd.DataFrame(columns = ['column_a','column_b'])

In [4]:
example_df = pd.DataFrame([['a','b']],columns = ['column_a','column_b'])

In [5]:
example_df = example_df.append(pd.DataFrame([['c','d']],columns = ['column_a','column_b']),ignore_index=True)

### reading in csv

In [ ]:
pd.read_csv(file_name,delimiter = '\t',header=None, names = ['ID','Gene_Name','chrom','chrom_start','chrom_end','rt_score'] , skiprows=16)
sites = pd.read_csv(input_dir+'sm_koren.bed',delimiter = '\t',header=None, names = ['chrom','chrom_start','chrom_end'] , dtype={'chrom':object} )

In [ ]:
phase3_sample_info = pd.read_csv('./../../data/1kg_p3/phase3_sample_info_sex.txt',delimiter = '\t',header=None, 
                                 names = ['Sample_Name','Sex','Biosample_ID','Pop_Code','Pop_Name','Super_Pop_Code','Super_Pop_Name','Data_Collections'] , skiprows=1)

In [ ]:
kg_id_super_pop = pd.read_csv(kg_info_file_address ,delimiter = '\t',header=None, 
                              names = ['sample_name','sex','biosample_id','pop_code','pop_name','super_pop_code','super_pop_name','data_collections'] ,
                              usecols=['sample_name','super_pop_code'], index_col = "sample_name", skiprows=1)

### get essential info on dataframe

In [ ]:
rt_bg01_avg.count()

In [36]:
#or even better:
len(example_df)

2

In [ ]:
rt_bg01_avg.win_size.describe()

In [ ]:
reg_rt_bg01_avg.dtypes

### displaying dataframe

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', 10): #final field is no of columns
    display(clean_buoy_ds[clean_buoy_ds.visit_id==v_id])

### types of columns, changing data types of columns

In [ ]:
reg_rt_bg01_avg.dtypes

In [ ]:
sm_cosmic.chrom = sm_cosmic.chrom.astype(str)

### last row index

In [33]:
example_df.tail(1).index[0]

1

### select column by index

In [ ]:
ac.ix[:,39:45]

### select column by column name

In [ ]:
ac[[c_code+'_mf']]

In [ ]:
ac.all_mf

In [ ]:
ac.['all_mf']

In [ ]:
ac.[['all_mf']]

### no of rows

In [32]:
len(example_df.index)

2

In [36]:
#or even better:
len(example_df)

2

### adding row(s)

In [ ]:
merged_data = merged_data.append(pd.DataFrame([[merged_chrom,merged_chrom_start,merged_chrom_end,merged_rt_score,merged_snp_density,merged_win_str_index,merged_win_end_index]],\
                                                          columns=['chrom','chrom_start','chrom_end','rt_score','snp_density','merged_win_str_index','merged_win_end_index']),\
                                                             ignore_index=True)

### dropping row(s)

In [ ]:
rt_bg01_avg = rt_bg01_avg[rt_bg01_avg.chrom.isin([str(num) for num in range(1,23)] + ['X','Y'])]
rt_bg01_avg.reset_index(inplace=True,drop=True)

### dropping duplicate row(s)

In [ ]:
rt_bg01_avg.drop_duplicates()

### adding column(s)

In [34]:
example_df['new_column'] = 0

In [35]:
example_df

  column_a column_b  new_column
0        a        b           0
1        c        d           0

### dropping column(s)

In [ ]:
FSU_rt_dataset.drop('Gene_Name',axis=1,inplace=True)

### reordering columns

In [ ]:
rt_bg01_avg = rt_bg01_avg[['chrom','chrom_start','chrom_end','rt_score']]

### renaming columns

In [ ]:
ac.rename(columns={'colr_mf':'colr_mf','colr_m':'colr_m','colr_f':'colr_f'}, inplace=True)

### indexing & slicing

In [ ]:
rt_bg01_avg.iloc[372216-3:372216+5]

In [ ]:
rt[(rt.chrom == chrom)&(rt.chrom_start>chrom_start)&(rt.chrom_start<chrom_end)].chrom_start

In [ ]:
rt_bg01_avg[~rt_bg01_avg.chrom.isin([str(num) for num in range(1,23)] + ['X','Y'])].head()

### creating new dataframe from slice

In [ ]:
growth = running_record[running_record.category == 'growth']
growth = growth.groupby(growth.index).sum()
growth = growth.reindex(pd.date_range(running_record.index.min(),running_record.index.max()),fill_value=0)
growth = growth.fillna(0)

### set indexed & sliced

In [ ]:
rt_bg01_avg.ix[rt_bg01_avg.distance<0,'distance']=0

### merge/join multiple dataframes

In [ ]:
chrom_rt = pd.merge(chrom_coord, chrom_rt, on =['chrom_start'], how = 'outer')

### handle missing values (fill, interpolate,drop etc.)

In [ ]:
rt_bg01_avg[rt_bg01_avg.distance.isnull()]

In [ ]:
rt_bg01_avg.distance.fillna(0,inplace=True)

In [ ]:
inthob = inthob.fillna(0)

In [ ]:
results.dropna(inplace=True)
results.reset_index(inplace=True,drop=True)

### interpolate missing values (normal)

In [10]:
df = pd.DataFrame({'A': [1, 2.1, np.nan, 4.7, 5.6, 6.8],'B': [np.nan,.25, np.nan, 4, 12.2, np.nan]})
df = df.interpolate()
df

     A       B
0  1.0     NaN
1  2.1   0.250
2  3.4   2.125
3  4.7   4.000
4  5.6  12.200
5  6.8  12.200

### interpolate missing values (with de-extrapolating trailing NaNs)

In [12]:
df = pd.DataFrame({'A': [1, 2.1, np.nan, 4.7, 5.6, 6.8],'B': [np.nan,.25, np.nan, 4, 12.2, np.nan]})
df_mask = df.fillna(method='backfill').isnull()
df = df.interpolate()
df[df_mask] = np.nan
df

     A       B
0  1.0     NaN
1  2.1   0.250
2  3.4   2.125
3  4.7   4.000
4  5.6  12.200
5  6.8     NaN

### plotting

In [ ]:
(time_use/60.0).plot(figsize = (45,8), fontsize = 15,ylim= [-1,7], yticks = range(8) )

In [ ]:
ax = (time_use/60.0).plot(figsize = (45,8), fontsize = 15, stacked = True, ylim=[-1,16],yticks = range(17))

In [ ]:
#plt.figure()
#ax = fig.add_subplot(111)

#plt.axvspan(2,5,facecolor = '0.5', alpha =0.5)

#plt.xlim([0,100])

#a = datetime64('2016-04-17')
ax = (time_use/60.0).plot(figsize = (45,8), fontsize = 15,ylim= [-1,16], yticks = range(17),kind  = 'bar',stacked=True, rot=0)#, grid=True)
ymin, ymax = ax.get_ylim()
xmin, xmax = ax.get_xlim()


#record starts on a friday:
ax.axvspan(xmin= xmin,xmax= xmin+1, ymin=ymin, ymax= ymax, color='#0066cc',alpha = 0.2, zorder = -1 )

#highlight weekends in green:
for weekend_start in np.arange(xmin+1,xmax-1, 7):
    ax.axvspan(xmin= weekend_start,xmax= weekend_start+2, ymin=ymin, ymax= ymax, color='g',alpha = 0.2, zorder = -1 )

#highlight weekdays in blue: 
for week_start in np.arange(xmin+3,xmax-1, 7):
    ax.axvspan(xmin= week_start,xmax= week_start+5, ymin=ymin, ymax= ymax, color='#0066cc',alpha = 0.2, zorder = -1 )

ax.set_xticklabels([x.strftime('%a\n%d\n%h\n%Y') for x in time_use.index])
#ax.set_xticklabels([], minor=True)

#ax.set_xticklabels([], major=True)
#ax.set_xticklabels()
#ax.grid(True)

#current day is highlighted in red:
ax.axvspan(xmin= xmax-1,xmax= xmax, ymin=ymin, ymax= ymax, color='r',alpha = 0.2, zorder = -1 )

#plt.savefig('time_use.png', bbox_inches='tight', dpi=300)

In [ ]:
rt_fsu_hesc_bg01[rt_fsu_hesc_bg01.distance<10000].distance.hist(bins=1000, figsize=(60,20))

### time stamped data

### iterating over rows of dataframe

In [31]:
#be careful with i, it is the index of dataframe unlike i in enumerate trick:
for i, row in example_df.iterrows():
    e, f = row
    print e
    print f

a
b
c
d

### sort

In [ ]:
rt_uva_hmm_seg = rt_uva_hmm_seg.sort(['chrom','chrom_start'],ascending=[1,1])
reg_rt_bg01_avg.reset_index(drop=True,inplace=True)

### new sort

In [ ]:
snps.sort_values(['chrom','chrom_start'],ascending=[1,1], inplace=True)
snps.reset_index(drop=True,inplace=True)

### get the index of row(s)

In [ ]:
temp.head(2).index.values[0]

### reset index

In [ ]:
reg_rt_bg01_avg.reset_index(drop=True,inplace=True)

### save dataframe into file

In [ ]:
rt_uva_hmm_seg.to_csv('../code/rt_mutation_rate_correlation_analysis/reg_uva_rt.bed',sep='\t',index=False,header=False)

### getting the value of a cell

In [ ]:
snps.ix[ 15783765 ].column_name

In [ ]:
snps.iloc[ 0 ].column_name

### setting the value of a cell (updating)

In [6]:
example_df

  column_a column_b
0        a        b
1        c        d

In [8]:
#fastest
example_df.set_value(0,'column_a','hahahahaa')

           column_a column_b          0
0         hahahahaa        b        NaN
1                 c        d        NaN
column_a        NaN      NaN  hahahahaa

In [ ]:
#df.loc[row, column] 
sub_rates.loc[(sub_rates.ref == 'CGACCGG') & (sub_rates.alt == "CGAACGG"),'s1_ref_count'] += 1

#### not OK:

In [13]:
example_df[example_df.column_a=='c'].column_b = 'new_d'

/Users/oryoruk/anaconda/lib/python2.7/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

#### this is OK:

In [14]:
example_df.column_b[example_df.column_a=='c'] = 'new_d'

In [16]:
example_df

           column_a column_b          0
0         hahahahaa        b        NaN
1                 c    new_d        NaN
column_a        NaN      NaN  hahahahaa